<nav class="navbar navbar-toggleable-md navbar-light fixed-top">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container">
    <%= link_to 'coast2coast gear', products_path, {:class => 'navbar-brand'} %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= nav_link_to 'All', products_path, {:class => 'nav-link'}, {:selected_class => 'active'} %>
        </li>
        <%= render @categories %>
      </ul>
    </div>
  </div>

</nav>